AIRaceUnity/Library/
AIRaceUnity/Logs/
AIRaceUnity/Temp/
AIRaceUnity/obj/
AIRaceUnity/.idea/
AiRaceUnity/Assets/CartoonTracksPack1/Track1/Textures/road.psd
AiRaceUnity/Assets/CartoonTracksPack1/Track1/Textures/road.psd.meta
AiRaceUnity/Assets/CartoonTracksPack1/Track1/Textures/road_normal.png
AiRaceUnity/Assets/CartoonTracksPack1/Track1/Textures/road_normal.png.meta
AiRaceUnity/Assets/CartoonTracksPack1/Track1/Textures/garages.psd
AiRaceUnity/Assets/CartoonTracksPack1/Track1/Textures/garages.psd.meta
AiRaceUnity/Assets/CartoonTracksPack1/Track1/Textures/banners.psd
AiRaceUnity/Assets/CartoonTracksPack1/Track1/Textures/banners.psd.meta
AiRaceUnity/Assets/CartoonTracksPack1/Track1/Textures/garages_specular.psd
AiRaceUnity/Assets/CartoonTracksPack1/Track1/Textures/garages_specular.psd.meta
AiRaceUnity/Assets/CartoonTracksPack1/Track1/Meshes/Track_Meshes/OvalModular/oval_mod_trees.FBX
AiRaceUnity/Assets/CartoonTracksPack1/Track1/Meshes/Track_Meshes/OvalModular/oval_mod_trees.FBX.meta
AiRaceUnity/Assets/CartoonTrackBudapest/Textures/trees_BUDAPEST.psd
AiRaceUnity/Assets/CartoonTrackBudapest/Textures/trees_BUDAPEST.psd.meta
AiRaceUnity/Assets/CartoonTrackBudapest/Textures/tyres_BUDAPEST.psd
AiRaceUnity/Assets/CartoonTrackBudapest/Textures/tyres_BUDAPEST.psd.meta
AiRaceUnity/Assets/CartoonTrackBudapest/Textures/tyres_BUDAPEST_normal.psd
AiRaceUnity/Assets/CartoonTrackBudapest/Textures/tyres_BUDAPEST_normal.psd.meta
AiRaceUnity/Assets/CartoonTrackBudapest/Textures/
AiRaceUnity/Assets/CartoonTrackBudapest/Meshes/TRACK_MESHES/BUDAPEST_TREES.fbx
AiRaceUnity/Assets/CartoonTrackBudapest/Meshes/TRACK_MESHES/BUDAPEST_TREES.fbx.meta
AiRaceUnity/venv/
AiRaceUnity/results/
